/* 
**  Planet Eclipse Content
**
**  based on: 
**      YAML Version: 2.5.2
**      Dateiversion: 01.11.06  
**      Datei       : content.css
**      Funktion    : Formatierung der Inhalte (Texte, Grafiken, Links, Listen, Tabellen usw.)
**
*/

@media all
{
	body, td { color: #555;	font-family: Arial, Helvetica, sans-serif; font-size: .75em; }
	
	p { margin: 0 0 1em 0; }
		
	strong,b { font-weight: bold; }
	em,i { font-style:italic; }
	
	h1 { color: #222; font-size: 1.8em; }
	
	pre, code {	
		font-family: "Courier New", Courier, monospace; 
		color: #444; 
		background: #f0f0f4;
	}
	pre {
		display:block;	
		overflow: auto;
		margin: 0 0 1em 1em;
		padding: 0.5em;
		border: 1px #ccd solid;
		border-left: 8px #ccd solid;
	}
	
	a img {	border: 0px; }
	a {color: #06c; text-decoration:none;}
	a:hover {color: #666; text-decoration:underline;}
	a:focus {color: #666; text-decoration:underline;}	
	
	table { border-collapse:collapse; width: 100%; margin-bottom: 0.5em; }
	form { overflow:hidden; display: none; }
	
	blockquote { 
		color: #444; 
		background: #f8f8f8; 	
		border: 1px #ddd solid;
		border-left: 8px #ddd solid;
		padding: 1em 1em 0 1em;
		margin: 0 0 1em 1em;
	}
	
	/* ###############################################################
	** ### Planet Eclipse ############################################
	** ###############################################################
	*/
	
	/* header navigation */
	#topnav a { color: #fff; background:transparent; text-decoration:none; }
	#topnav a:hover { text-decoration:underline; background-color: transparent;}
	#topnav a:focus { text-decoration:underline; background-color: transparent;}
	
	/* main navigation */
	#nav a { color: #000; background:transparent; text-decoration:none; }
	#nav a:hover { text-decoration:underline; background-color: transparent;}
	#nav a:focus { text-decoration:underline; background-color: transparent;}
	
	/* sidebar */
	#col2 div.col2_content h3  { font-size: 1.08em; }
	#col2 div.col2_content ul  { margin:1em 0 1em 0; font-size: 1em; }
	#col2 div.col2_content p   { margin:0; padding: 0.5em; font-size: 1em; }
	
	/** error message */
	div.error { padding-bottom: 1em; }
	div.error span.errormessage { color: red; }
	div.error span.errordetail  { color: #666;	padding: 1em; }
	
	/** progress message */
	span.progressmessage { color: #444; font-size: 0.8em; font-weight: normal; }
	
	/* day header */
	#col3 h2.date {
		background-image: url("../../images/h1_bg.gif");
		background-repeat: no-repeat;
		background-position: 5px 0.1em;
		color: #392863;
		font-size: 1.5em;
		font-weight: normal;
		padding-left: 25px;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	#col3 h2.date .count { font-size: 0.7em; color: #999; }
	#col3 div.expanded h2.date { cursor: pointer; }
	#col3 div.collapsed h2.date { cursor: pointer; background: url("../../images/h1_bg_c.gif") no-repeat 0px center; }


	/* ############################################################################################
	** ### formatting of entries ##################################################################
	** ############################################################################################
	*/
	div.entry { margin-bottom: 2em; margin-right: 1em; clear: left; }

	div.person-info { font-size: 1.5em;	text-align: center;	}
	div.person-info a { text-decoration: none; color: #666; }
	
	div.homeitem h3 { font-size: 1.5em; }
		
	div.post-contents p { line-height: 120%; }
	div.post-contents blockquote { line-height: 150%; margin: 1em !important; padding: 1em !important; }
	div.post-contents pre { margin: 1em !important; padding: 1em !important; }
	div.post-contents hr { margin-top: 1em !important; list-style: 1px solid; }
	
	div.post-title span { font-size: 100%; }

	div.post-footer div { text-align: right; color: #999; font-size: .95em; }
	div.post-footer div a { text-decoration: none; color: #999; }
	div.post-footer div a:hover { color: inherit; text-decoration: underline; }

}
