	body{
		width:100%;
		margin:0px;
		padding:0px;

	}
	body, td { color: #555;	font-family: Arial, Helvetica, sans-serif; font-size: .75em; }
	* { margin:0; padding:0;}

	img { border:0px;}

	pre, code {
		font-family: "Courier New", Courier, monospace;
		color: #444;
		background: #f0f0f4;
	}
	pre {
		display:block;
		overflow: auto;
		margin: 0 0 1em 1em;
		padding: 0.5em;
		border: 1px #ccd solid;
		border-left: 8px #ccd solid;
	}
	p { margin: 0 0 1em 0; }

	strong,b { font-weight: bold; }
	em,i { font-style:italic; }
	li { line-height:1.5em; margin-left:1.5em;}
	h1 { color: #222; font-size: 1.8em;}

	a img {	border: 0px; }
	a {color: #06c; text-decoration:none;}
	a:hover {text-decoration:underline;}
	a:focus {text-decoration:underline;}
	/* (see bug 305505) a:visited {color: #666;}*/

	#body {
	padding:10px;
	}

	#sidebar {
	background-color:white;
	float:right;
	margin:0px 0px 20px 20px;
	padding:0px 0px 20px;
	right:0px;
	top:150px;
	width:210px;
	}

	/* footer */
	#footer { color:#888; background:#fff; margin: 0 1em; padding: 1em 0; border-top: 1px #ddd solid; line-height: 2em;}

	/* header */
	#header { background:#FFFFFF url(../../images/header_bg.jpg) repeat-x scroll 0%; height:70px; margin:0px; padding:0px; position:relative;}
	#header-graphic { height:68px; left:0pt; position:absolute; top:0pt; }
	#header .eclipse-main { width:131px; }
	#header-graphic h1 { text-indent:-9999px; display:none; }
	#header-global-holder { height:68px; position:absolute; right:0pt; top:0pt; }
	#header .eclipse-main-global { background:transparent url(../../images/planet_bg.jpg) no-repeat scroll 0%; width:395px; }
	#header-global-links { height:26px; position:absolute; right:0pt; top:0pt; width:335px; }
	#header-global-links ul { margin:0pt; padding:4px 15px 0pt 0pt; text-align:right; }
	#header-global-links ul li { display:inline; }
	#header-global-links ul li a { background:transparent url(../../images/global_links_divider.gif) no-repeat scroll 0%; border-color:#FFFFFF; border-width:0px; color:#333366; padding:0pt 5px 0pt 10px; text-decoration:none; text-transform:uppercase; }
	#header-global-links ul li a:link, #header-global-links ul li a:visited { }
	#header-global-links ul li a:hover { text-decoration:underline; }
	#header-global-links ul li.first a { background:transparent none repeat scroll 0%; }
	#header-icons { padding:0pt 20px 0pt 0pt; position:absolute; right:0pt; top:33px; }
	#header-icons img { display:inline; margin:0pt 0pt 0pt 2px; }
	#header-eclipsecon-info { }
	#header-eclipsecon-info h2 { text-indent:-9999px; }
	#header-eclipsecon-info h3 { text-indent:-9999px; }
	#header-nav .gwt-Hyperlink {display:inline;}
	#header-nav { float:left; white-space:nowrap; }
	#header-nav ul { margin:0pt; padding:7px 0pt 0pt; }
	#header-nav ul li { color:#2E2C51; display:inline; margin-left:0; }
	#header-nav ul li a { background:transparent url(../../images/nav_divider.gif) no-repeat scroll left center; border-color:#FFFFFF; border-width:0px; color:#2E2C51; padding:0pt 5px 0pt 10px; text-decoration:none; text-transform:uppercase; }
	#header-nav ul li a:link, #header-nav ul li a:visited { }
	#header-nav ul li a:hover { text-decoration:underline; }
	#header-nav ul li.first a { background:transparent none repeat scroll 0%; }
	#header-menu { background:#FFFFFF url(../../images/menu_bg.jpg) repeat-x scroll 0%; height:33px; margin:0px; padding:0px; clear:both; }
	#header-utils { margin:0pt; margin-top:5px; float:right; white-space:nowrap; }
	#header-utils form { float:left; padding:0pt 15px 0pt 0pt; }
	#header-utils form input.input, #header-utils form input.button { vertical-align:middle; }
	#header-utils form input.input { width:120px; }
	#header-utils ul { float:left; margin-top:4px; }
	#header-utils ul li { background:transparent url(../../images/util_links_divider.gif) no-repeat scroll left center; float:left; list-style-image:none; list-style-position:outside; list-style-type:none; padding:0pt 15px 0pt 20px; }
	#header-utils ul li.rss_feed { padding-bottom:0px; }
	#header-global-links ul li a { font-size:0.8em; }
	#header-nav ul li a { font-size:0.8em; }
	#header-utils ul li.text_size a { color:#2E2C51; }
	#header-utils ul li.text_size a.smallText { font-size:80% !important; }
	#header-utils ul li.text_size a.largeText { font-size:120% !important; }

	#sidebar div.col2_content { padding: 1em; border-bottom: 1px solid #d9d9d9; }
	#sidebar div.col2_content p { font-size:1em; margin:0px; padding:0.5em; }
	#sidebar div.col2_content h3 {	background: #fff url(../../images/leftcol_sideitem_bg.gif) repeat-x top left; padding: 0; padding-left: 5px; font-size:1.08em; }
	#sidebar div.col2_content ul {	font-size:1em; padding: 0;	margin: 1em 0; }
	#sidebar div.col2_content li {	list-style: none; }

	/* day header */
	#body h2.date {
		background-image: url("../../images/h1_bg.gif");
		background-repeat: no-repeat;
		background-position: 5px 0.1em;
		color: #392863;
		font-size: 1.5em;
		font-weight: normal;
		padding-left: 25px;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	#body h2.date .count { font-size: 0.7em; color: #999; }

	/* Formatting of Entries */
	table.entry { margin-bottom: 2em; margin-right: 1em; clear: left; }

	td.person-info {float: left;position: relative;	left: 4px;	margin-top: 25px !important;padding: 0 20px 30px 0;	width: 120px;vertical-align:top; font-size: 1.5em; text-align: center;}
	td.person-info a { text-decoration: none; color: #666; font-size:0.75em; }

	td.homeitem { border-bottom: 1px dotted #000; margin: 10px 0 10px 1%; padding-bottom: 10px; }
	td.homeitem h3 { background: url("../../images/leftcol_sideitem_bg.gif") repeat-x top left; padding-left: 5px; font-size:1.5em;}


	div.post-contents {	padding: 1em 25px 0 25px; margin-right: 10px; }
	div.post-contents img { nowrap }:
	div.post-contents:after {display: block; clear: left; }

	div.post-footer div { margin: 0; padding-top: 1em; padding-right: 1em; }
	div.post-footer div { text-align: right; color: #999; font-size: .95em; }
	div.post-footer div a { text-decoration: none; color: #999; }
	div.post-footer div a:hover { color: inherit; text-decoration: underline; }


