<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!-- Note: we need the quirks mode for Window.getClientHeight -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="PlanetEclipse.org" />
		<meta name="keywords" content="Planet, Eclipse" />

		<title><TMPL_VAR name></title>

		<link href="/planet-new/css/main/new.css" rel="stylesheet" type="text/css"/>
		<!--[if lte IE 7]>
		<link href="/planet-new/css/explorer/ie6fixes.css" rel="stylesheet" type="text/css" />
		<![endif]-->

		<link rel="alternate" type="application/rss+xml" title="Planet Eclipse News Feed (RSS)" href="rss20.xml" />
		<link rel="alternate" type="application/atom+xml" title="Planet Eclipse News Feed (Atom)" href="atom.xml" />
	</head>
	<body>
		<!-- #header: begin header area -->
		<div id="header">
			<div id="header-graphic" class="eclipse-main">
				<a href="/"><img src="/planet-new/images/planet_header.jpg"></a><h1>Eclipse</h1>	
			</div>
			<div id="header-global-holder" class="eclipse-main-global">
				<div id="header-icons">
					<a href="http://www.eclipse.org"><img src="/planet-new/images/icon_org.png" width="28" height="28" alt="Eclipse Foundation" title="Eclipse Foundation" /></a>					
					<a href="http://www.eclipseplugincentral.com"><img src="/planet-new/images/icon_plugin.png" width="28" height="28" alt="Eclipse Plugin Central" title="Eclipse Plugin Central" /></a>
					<a href="http://live.eclipse.org"><img src="/planet-new/images/icon_live.png" width="28" height="28" alt="Eclipse Live" title="Eclipse Live" /></a>
				</div>
			</div>
		</div>
		<!-- #header: end -->
		<!-- #nav: begin navigation area -->
		<div id="header-menu">
			<div id="header-nav">
				<!-- the feeds list get placed here as unordered list -->
				<ul>
					<li class="first"><a href="/planet-new/" title="Open Planet Eclipse">Main</a></li>
					<li><a href="/planet-new/eclipsecon/" title="Open Planet EclipseCon">EclipseCon</a></li>
				</ul>
			</div>
			<div id="header-utils">
				<!-- this is not used yet -->
				<!-- 
				<ul>
					<li class="rss_feed first"><a href="/rss20.xml" target="_blank"><img src="/planet-new/images/rss_btn.gif" alt="RSS" height="16" width="16" border="0" class="rss_icon" /></a></li>
				</ul>
				-->
			</div>	
		</div>
		<!-- #nav: end -->		
		<!-- #sidebar: begin sidebar area -->
		<div id="sidebar" float="right">
		    <!--
			<div class="col2_content">
				<h3>Events</h3>
				<p>
				<center><a href="http://www.eclipsecon.org/2008/?tag=planeteclipse"><img border="0" src="http://www.eclipsecon.org/2008/image125x125.gif" height="125" width="125" alt="EclipseCon 2008"/></a></center>
				</p>
			</div>
			-->
			<div class="col2_content">
				<h3>Planet Eclipse</h3>
				<p>
				Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors.
				<table>
					<tr>
						<td><a href="rss10.xml"><img alt="RSS 1.0" src="/planet-new/images/rss10.png" /></a></td>
						<td><a href="rss20.xml"><img alt="RSS 2.0" src="/planet-new/images/rss20.png" /></a></td>
					</tr>
					<tr>
						<td><a href="atom.xml"><img alt="Atom" src="/planet-new/images/atom.png" /></a></td>
						<td><a href="opml.xml"><img alt="OPML" src="/planet-new/images/opml.png" /></a></td>
					</tr>
				</table>
				</p>
				<p>
				Looking for an RSS Newsreader?  Try RSSOwl, it is built on Eclipse!
				<a href="http://www.rssowl.org/" title="Get RSSOwl - Free RSS / RDF / Atom Newsreader."><img src="/planet-new/images/rssowl.gif" style="border:0;" width="80" height="15" alt="Get RSSOwl" /></a>
				</p>
				<p>
				Last updated: <TMPL_VAR date> (UTC)
				</p>
				<p>
				Maintained by the Planet Eclipse <a href="http://wiki.eclipse.org/index.php/PlanetEclipseAdmins" title="The Planet Eclipse Admins" target="_blank">admins</a>.
				</p>
				<p>
				Powered by:<br>
				<a href="http://www.planetplanet.org/"><img src="/planet-new/images/planet.png" width="80" height="15" alt="Planet" border="0" /></a>
				</p>
			</div>
			<div id="about" class="col2_content">
				<h3>Your Blog</h3>
				<p>If you would like your blog added to the feed, please have a look at our <a href="http://wiki.eclipse.org/index.php/PlanetEclipse#Guidelines" title="Read the Planet Eclipse guideline" target="_blank">guidelines</a> and then open a <a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Community&component=PlanetEclipse.org" title="Submit your feed" target="_blank">request</a> in the Eclipse Bugzilla with your feed specific information.</p>
				<p>Eclipse Committers can create their own blog on the <a href="http://blogs.eclipse.org">Eclipse Blogs</a> site.</p>
			</div>
			<div id="subscriptions" class="col2_content">
				<h3 id="subscriptions_headline">Subscriptions</h3>
				<ul id="subscriptions_list">
				<TMPL_LOOP Channels>
					<TMPL_IF message>
					<li styles="unhappy<TMPL_IF __FIRST__> first</TMPL_IF>">
						<a href="<TMPL_VAR url ESCAPE="HTML">" title="<TMPL_VAR message ESCAPE="HTML">"><img src="/planet-new/images/feed-inactive-icon-10x10.png" alt="(inactive feed)" /></a> <a class="unhappy" <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="<TMPL_VAR message ESCAPE="HTML">" target="_blank"><TMPL_VAR name></a>
					</li>
					<TMPL_ELSE>
					<li styles="happy">
						<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="/planet-new/images/feed-icon-10x10.png" alt="(feed)" /></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="Open <TMPL_VAR title_plain ESCAPE="HTML">." target="_blank"><TMPL_VAR name></a>
					</li>
					</TMPL_IF>
				</TMPL_LOOP>
				</ul>
			</div>		
		</div>
		<!-- #sidebar: end -->
		<!-- #body: begin body area -->
		<div id="body">
			<div id="headline">
			<h1>Welcome to <TMPL_VAR name></h1>
				<!--
				<p><em>Planet Eclipse is a rich browser application which uses JavaScript to provide additional features. Unfortunately, it also requires a recent browser (eg. IE &gt;= 7, FireFox &gt;= 2). You can try out the advanced version <a href="index.html" title="Open Planet Eclipse.">here</a>.</em></p>
				-->
			</div>
			<div id="error"></div>
			<div id="feedcontent">
				<div class="maincontent" style="width: 100%;">
				<TMPL_LOOP Items>
				<TMPL_IF new_date>
					<TMPL_UNLESS __FIRST__>
					</div> ### end current day group
					</TMPL_UNLESS>
					<div id="day_<TMPL_VAR __PASS__>">
						<h2 class="date" id="day_header_<TMPL_VAR __PASS__>"><TMPL_VAR new_date> <span class="count" id="day_count_<TMPL_VAR __PASS__>"></span></h2>
					</div>
					<div id="day_group_<TMPL_VAR __PASS__>"> ### start new day group 
				</TMPL_IF>
						<table class="entry">
							<tr><td class="person-info">
								<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">" target="_blank">
								<TMPL_IF channel_face>
								<img class="face" src="/planet/images/faces/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="<TMPL_VAR channel_name>"><br>
								</TMPL_IF>
								<TMPL_VAR channel_name></a>
							</td>
							<td class="homeitem" width="100%">
								<TMPL_IF title>
								<h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank"><TMPL_VAR title></a></h3>
								</TMPL_IF>
								<div class="post-contents">
									<p>
									<TMPL_VAR content>
									</p>
								</div>
								<div class="post-footer">
									<div><a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></a></div>
								</div>
							</td></tr>
						</table>
					<TMPL_IF __LAST__>
					</div> ### end last day group
					</TMPL_IF>
				</TMPL_LOOP>
				</div>
			</div>
		</div>
		<!-- #body: end -->
		<!-- #footer: begin footer area -->
		<div id="footer">
			<p>
			Created and maintained by the Planet Eclipse Admins. 
			Hosted by the Eclipse Foundation <small>(<a href="http://www.eclipse.org/legal/privacy.php">Privacy Policy</a>, <a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a>)</small>. 
			</p>
		</div>
		<!-- #footer: end -->
	</body>
</html>
