<?xml version="1.0"?>
<subscriptions xmlns="http://planeteclipse.org/subcriptions" lastUpdated="<TMPL_VAR date ESCAPE="HTML">">
	<TMPL_LOOP Channels>
	<subscription 
		name="<TMPL_VAR name ESCAPE="HTML">"
		url="<TMPL_VAR url ESCAPE="HTML">"
        <TMPL_IF link>
        htmlUrl="<TMPL_VAR link ESCAPE="HTML">"
        </TMPL_IF>
        title="<TMPL_IF title><TMPL_VAR title ESCAPE="HTML"><TMPL_ELSE><TMPL_IF title_plain><TMPL_VAR title_plain ESCAPE="HTML"></TMPL_IF><TMPL_UNLESS title><TMPL_VAR name ESCAPE="HTML"></TMPL_UNLESS></TMPL_IF>"
        <TMPL_IF message>
        message="<TMPL_VAR message ESCAPE="HTML">"
        </TMPL_IF>
		<TMPL_IF face>
		faceUrl="<TMPL_VAR face ESCAPE="HTML">"
		faceWidth="<TMPL_VAR facewidth ESCAPE="HTML">"
		faceHeight="<TMPL_VAR faceheight ESCAPE="HTML">"
		</TMPL_IF>
		<TMPL_IF type>
		type="<TMPL_VAR type ESCAPE="HTML">"
		</TMPL_IF>
		/>
	</TMPL_LOOP>
</subscriptions>