/*
// style.css
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
*/

/*
//  Temporary fix:
//  Bug 440814 - Allow cross-origin access to web fonts
*/
@font-face{
  font-family:'FontAwesome';
  src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
  src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal
}

.thin-header #header-left .logo-eclipse-default{
  max-width: 198px;
}

#main-menu .dropdown-menu{
  max-width: 740px;
}

.media .pull-left{
  width: 120px;
}

.list-channels{
  margin-left:10px;
}

.list-channels img{
  margin-right:2px;
}

h1{
  font-size:24px;
}

/* Fix posts with large images */
.media-body-content img{
  max-width: 100%;
  height: auto;
}

.media-body-content h1{
  font-size:22px;
}

.media-body-content h2{
  font-size:20px;
}

.media-body-content h3{
  font-size:18px;
}

.media-body-content h4,
.media-body-content h5,
.media-body-content h6{
  font-size:15px;
}

