<?xml version="1.0"?>
<posts xmlns="http://planeteclipse.org/posts" lastUpdated="<TMPL_VAR date ESCAPE="HTML">">
	<TMPL_LOOP Items>
	<TMPL_IF new_date>
	<TMPL_UNLESS __FIRST__>
		</subscription> ### end current subscription group
	</day> ### end current day group
	</TMPL_UNLESS>
	<day date="<TMPL_VAR new_date>">
	</TMPL_IF>
	<TMPL_IF new_channel>
	<TMPL_UNLESS new_date>
		</subscription> ### end current subscription group
	</TMPL_UNLESS>
		<subscription 
			url="<TMPL_VAR channel_link ESCAPE="HTML">" 
			title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" 
			name="<TMPL_VAR channel_name ESCAPE="HTML">"
			<TMPL_IF channel_face>
			faceUrl="<TMPL_VAR channel_face ESCAPE="HTML">"
			faceWidth="<TMPL_VAR channel_facewidth ESCAPE="HTML">"
			faceHeight="<TMPL_VAR channel_faceheight ESCAPE="HTML">"
			</TMPL_IF>
			>
	</TMPL_IF>
			<post 
				id="<TMPL_VAR id>"
				<TMPL_IF channel_language>
				lang="<TMPL_VAR channel_language ESCAPE="HTML">"
				</TMPL_IF>
				url="<TMPL_VAR link ESCAPE="HTML">"
				<TMPL_IF author>
				author="<TMPL_VAR author ESCAPE="HTML">"
				</TMPL_IF>
				date="<TMPL_VAR date ESCAPE="HTML">"
				<TMPL_IF category>
				category="<TMPL_VAR category ESCAPE="HTML">"
				</TMPL_IF>
				>
				<TMPL_IF title>
				<title<TMPL_IF title_language> lang="<TMPL_VAR title_language ESCAPE="HTML">"</TMPL_IF>><TMPL_VAR title ESCAPE="HTML"></title>
				<post-title<TMPL_IF title_language> lang="<TMPL_VAR title_language ESCAPE="HTML">"</TMPL_IF>><TMPL_VAR title ESCAPE="HTML"></post-title>
				</TMPL_IF>
				<content-plain<TMPL_IF content_language> lang="<TMPL_VAR content_language ESCAPE="HTML">"</TMPL_IF>>
					<![CDATA[<TMPL_VAR content ESCAPE="NONE">]]>
				</content-plain>
			</post>
	<TMPL_IF __LAST__>
		</subscription> ### End current subscription group
	</day> ### End current day group
	</TMPL_IF>
	</TMPL_LOOP>
</posts>
